/* Variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-blacklight: #32425C;
  --basic-blackdark: #293449;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-beigelight: #F9F5F0;
  --black: #000000;
  --basic-gold: #FFD180;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-liliac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFC047;

  --success: #5FBB2D;
  --error: #BA2732;
}

/* Global */
.page-body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--black);

  background-color: var(--basic-background)
}

/* Components */
.headline {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.headline-categories {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-blacklight);
}

.headline-3 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-decoration: none;
}

/* Main navigation */

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);

  padding-bottom: 60px;
  width: 1200px;
  height: 320px;

  background-color: rgba(0, 0, 0, 0.0001);
}

.main-header-usermenu {
  padding-left: 130px;
  padding-left: 130px;
  background-color: var(--basic-blackdark);
  height: 42px;
}



.button-header-menu {
  color: var(--basic-white);
}

.main-header-annotation {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black)
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;

  color: inherit;
}

/* .menu-user-item{

} */


.site-navigation {
  background: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
  width: 940px;
  height: 60px;
  margin: 0 auto;
}

.site-navigation-list {
  display: flex;
  text-align: center;
  list-style: none;
  color: var(--basic-white);
}

/* Main */

.container {
  background-color: var(--basic-greylight);
}

/* Bredcrumbs */

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--black);
}

/* Filters */

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Slider Main Page */

.applications-list {
 font-family: "Cuprum", "Arial", sans-serif;
 color: var(--basic-white);
}

/* .applications-item {

} */

.applications-headline {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.applications-button {
  color: inherit;
}

/* .applications-slider {

} */

/* applications-slider-item {

} */

.slider-title{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.applications-slider-info {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  text-decoration: none;
}

/* Catalog */

.filter-sorting-list button{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: inherit;
}

.popular-goods-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: var(--black);
}
/* .popular-goods-item {

} */

.carriers-list {
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.catalog-item-oldprice {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item-price{
  font-size: 17px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 0;
}

/* Pagination */

.pagination-list {
  font-size: 13px;
  line-height: 18px;
}

.pagination-item a{
  text-decoration: none;
  color: var(--black);
}

/* .services {

} */
.services-headline {
  color: var(--black);
}


.services-list{
  list-style-type: none;
}

.button-service {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.company-info {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.company-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;

  color: var(--black);
}

.carriers-list {
  list-style: none;
  color: var(--black);
}


/* Footer */

.footer{
  background: var(--basic-blacklight);
}
.footer-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  color: #F3F7F9;
}
.footer-phone {
  color: inherit;
  text-decoration: none;
}

.footer-navigation-infolist{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  list-style: none;
  text-transform: none;
}

.footer-navigation-infoitem {
  color: inherit;
  list-style-type: none;
}

.footer-navigation-applications-list{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gold);
}

.footer-navigation-applications-item {
  color: inherit;
  list-style: none;
}

/* Footer Copiright */

.footer-copiright-social {
  background-color: var(--basic-blackdark);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-social-list{
  list-style: none;
  padding: 0;
}

.footer-copiright-info {
  color: var(--basic-white);
}

.footer-copiright{
  color: var(--basic-gold);
}

.footer-copiright-address {
  color: inherit;
  text-decoration: none;
}
