/* Variables*/

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-beigelight: #F9F5F0;
  --basic-blacklight: #32425C;
  --basic-blackdark: #293449;
  --black: #000000;
  --basic-gold: #FFD180;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-liliac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFC047;

  --success: #5FBB2D;
  --error: #BA2732;
}

/* Main navigation */

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);

  padding-bottom: 60px;
  width: 1200px;
  height: 320px;

  background-color: rgba(0, 0, 0, 0.0001);
}

.main-header-usermenu {
  padding-left: 130px;
  padding-left: 130px;
  background-color: var(--basic-blackdark);
  height: 42px;
}

/* .main-header-logo {
  width: 220px;
  height: 47px;
} */


.button-header-menu {
  color: var(--basic-white);
}

/* .main-header-information{

} */

.main-header-annotation {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

/* .header-contacts {
  text-align: center;
} */

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black)
}

.menu-user-list {
  font-size: 21px;
  line-height: 21px;

  color: inherit;
}

/* .menu-user-item{

} */


.site-navigation {
  background: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
  width: 940px;
  height: 60px;
  margin: 0 auto;
}

.site-navigation-list {
  display: flex;
  text-align: center;
}

.site-navigation-item {
  flex-direction: row;
  margin-left: 53px;
  list-style-type: none;
}

/* Main */

.container {
  background-color: var(--basic-greylight);
}

.applications-list {
 font-family: "Cuprum", "Arial", sans-serif;
 font-size: 14px;
 line-height: 18px;
 color: var(--basic-white);
}

/* .applications-item {

} */

.applications-item-headline {
  font-size: 24px;
  line-height: 30px;
}

.applications-item-info {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

/* .applications-slider {

} */

/* applications-slider-item {

} */

.applications-slider-headline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.applications-slider-info {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

/* .popular-goods {

} */

.popular-header {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-white);
}

.popular-headline {
  font-size: 30px;
  color: var(--basic-blacklight);
}

.popular-button {
  color: inherit;
  text-decoration: none;
}

.popular-goods-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: var(--black);
}
/* .popular-goods-item {

} */

.product__name-headline {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.product-old__price {
  font-size: 17px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.button-buy {
  font-size: 17px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* .services {

} */
.services-headline {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.services-information {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-item {
  list-style-type: none;
}
.button-service {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.company-info {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.company-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;

  color: var(--black);
}

.company-information{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--black);
}
.carriers-item {
  color: var(--black);
}

.button {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

/* Footer */
/* .main-footer {

} */
.footer{
  background: var(--basic-blacklight);
}
.footer-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  color: #F3F7F9;
}
.footer-phone {
  color: inherit;
  text-decoration: none;
}

.footer-navigation-infolist{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-navigation-infoitem {
  color: inherit;
  list-style-type: none;
}

.footer-navigation-applications-list{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gold);
}

.footer-navigation-applications-item {
  color: inherit;
  list-style-type: none;
}

.footer-copiright-social {
  background-color: var(--basic-blackdark);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-copiright-info {
  color: var(--basic-white);
}

.footer-copiright{
  color: var(--basic-gold);
}

.footer-copiright-address {
  color: inherit;
  text-decoration: none;
}
